.agent
node_modules
.next 

# Python
.venv
.env
__pycache__
.DS_Store
.idea
.vscode
*.pyc
*.pyo
*.pyd
*.pyo
docs/
__pycache__
phases_gemini.md
PRD_gemini.md
PRD.md
plan-roadmap.md
plan-chatbot-features.md
PLAN-chatbot-features.md
PLAN-map-distance.md
phases.md
