fastapi
uvicorn[standard]
chromadb
langchain
langchain-google-genai
google-genai
langchain-chroma
beautifulsoup4
requests
python-dotenv
pandas
openpyxl
motor
pydantic
pydantic-settings
email-validator
better_profanity
bleach
